.box {
  border: 1px solid black;
  background-color: rgb(255,255,255);
}

.grid {
  display: grid;
  justify-content: center;
  margin:auto;
  width: 550px;
  height: 550px;
  border: black solid 1px;
}
#button-containers {
  display:flex;
  justify-content: center;
  margin: 25px;
}
.button {
  margin:.7rem;
  border: 2px solid #313131;
  font-size: 1em;
  background-color: rgb(255,255,255);
  min-width:6rem;
  height:2rem;
  display:block;
}
.button2{
  margin:.7rem;
  border: 2px solid #313131;
  font-size: 1em;
  background-color: rgb(255,255,255);
  min-width:6rem;
  height:2rem;
  display:block;
}
.button3{
  margin:.7rem;
  border: 2px solid #313131;
  font-size: 1em;
  background-color: rgb(255,255,255);
  min-width:6rem;
  height:2rem;
  display:block;
}

body{
  background-color: rgb(255,252,228);
}